@model Polyclinic.Models.Patient

<h2>создать пациента</h2>
<form method="post">
    <div>
        <label>ФИО</label>
        <input asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
    </div>
    <div>
        <label>дата рождения</label>
        <input asp-for="BirthDate" type="date" />
    </div>
    <div>
        <label>телефон</label>
        <input asp-for="Phone" />
    </div>
    <button type="submit">сохранить</button>
</form>