@model Polyclinic.Models.Patient

<h2>удалить пациента</h2>
<p>точно удалить пациента?: <strong>@Model.FullName</strong>?</p>
<form method="post">
    <button type="submit">да</button>
    <a href="/Patients">я передумал</a>
</form>