@model Polyclinic.Models.Doctor

<h2>удалить врача</h2>
<p>точно удалить врача?: <strong>@Model.FullName</strong>?</p>
<form method="post">
    <button type="submit">да</button>
    <a href="/Doctors">я передумал</a>
</form>